/*Selektor znacznika*/
h1{
    color: white;
    font-size: 2.3em; 
}
/*Selektor id*/
#main-section{
    background-color: gray;
    padding: 20px;
}
/*first examplethree*/
div{
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

